body {
	margin: 0;
}
#spotlight {
	background-image: url(../images/spotlight.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 940px;
}
.spot {
	display: flex;
	justify-content: space-between;
	margin: 0 80px;

}
.text {
	width: 400px;
	margin-top: 140px;


}
.mam {
	width: 400px;
	border-radius: 300px;
	margin-top: 80px;
}
.for {
	font-family: 'Taprom', cursive;
	font-size: 25px;
	margin-left: 120px;
}
.text2 {
	margin-left: 50%;
	font-family: 'Taprom', cursive;
	font-size: 30px;
	margin-top: -10px;
	color: #676e22;
}
#spotlight2 {
	background-color: #CEC2B5;
	height: 694px;
}
.rose1 {
	width: 200px;
	margin-top: -70px;
}
.rose2 {
	width: 200px;
	margin-top: 70px;
	margin-left: 84%;
}
.text3 {
	width: 800px;
	margin-top: 30px;

}
.illus {
	margin-top: 90px;
}
#spot3 {
	display: flex;
	justify-content: space-between;
}
.event {
	margin-top: 160px;
	font-family: 'Taprom', cursive;
	color: #92616A;
	margin-right: 7%;
	font-size: 70px;
}
#spot4 {
	display: flex;
	justify-content: space-between;
}
.textpara {
	font-family: 'Taprom', cursive;
	font-size: 30px;
	color: #92616A;
	margin-top: 70px;
	margin-left: 50px;

}
.sree {
	width: 27%;
	height: 10%;
	margin-right: 30px;
}
.text4 {
	margin-top: 100px;
	width: 800px;
}
#spot5 {
	background-color: #92616A;
	width: 100%;
	height: 500px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
#spot5 {
	background-color: #E9B8DB;
	width: 100%;
	height: 500px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
#spot6 {
	background-color: #92616A;
	width: 100%;
	height: 700px;
	margin-top: -51px;
}
#spot7 {
	background-color: #B9C190;
	width: 100%;
	height: 600px;
	margin-top: -51px;
	display: flex;
	justify-content: space-between;
}
.illust {
	width: 400px;
	margin-top: 50px;
}
.video1 {
	width: 500px;
	height: 300px;
	margin-top: 50px;
	border-radius: 30px;
	margin-right: 40px;
}
.video2 {
	width: 600px;
	height: 400px;
	margin-top: 10px;
	border-radius: 30px;
	margin-right: 40px;
}
.video3 {
	width: 600px;
	height: 400px;
	margin-left: 40px;
	border-radius: 30px;
	margin-top: 70px;
}
.jj {
	font-size: 30px;
	font-family: 'Taprom', cursive;
}
.jjk {
	font-size: 30px;
	margin-top: -30px;
	font-family: 'Taprom', cursive;
}
.jjj {
	font-size: 30px;
	margin-left: 80px;
	color: deeppink;
	font-family: 'Taprom', cursive;
}
.hhh {
	font-size: 60px;
	font-family: 'Taprom', cursive;
	color: #fff;
}
.art {
	width: 330px;
	margin-right: 70px;
	margin-top: 160px;
}
.ty {
	width: 600px;
	margin-top: 260px;
}
.happy {
	width: 100%;
	margin-top: 130px;
}
#footer {
	display: flex;
	justify-content: space-between;
	background: #000009;
	margin-top: 20px;
}
.logo-footer {
	margin-left: 30px;
	margin-top: 40px;
	width: 120px;
}
.created {
	color: #fff;
	margin-left: 30px;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
.classk{
	font-size: 100px;
	color: #fff;
	font-family: 'Square Peg', cursive;
}
.morearava {
	color: #fff;
	margin-right: 30px;
	font-family: 'Square Peg', cursive;
}
.webiste {
	color: #fff;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
.year {
	color: #fff;
	margin-top: -70px;
	font-size: 20px;
}
.heading {
	font-size: 52px;
	color: red;
	margin-top: 65px;
	font-family: 'Square Peg', cursive;
}
.intro {
	 margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  transform: translate(-50%, -50%);
}